/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, SCDream, sans-serif;
	background-color: #f6f6f6;
}
@font-face {
	font-family: "SCDream";
	src: url("/public/fonts/SCDream1.otf") format("truetype");
}
a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
